@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Press+Start+2P&family=Rock+Salt&display=swap");

/* unvisited link */
a:link {
    color: white;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: rgb(212, 3, 29);
}

/* selected link */
a:active {
    color: rgb(212, 3, 29);
}

#logo {
    color: rgb(212, 3, 29);
    font-family: "Rock Salt", cursive;
    font-size: 300%;
}

#all {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Balsamiq Sans", cursive;
}

#subtitle {
    font-size: 200%;
}

.center {
    text-align: center;
}

.grid {
    /* display: grid;
    grid-template-columns: grid-auto-columns;
    grid-template-rows: 1fr;
    place-items: center; */
    height: 100%;
    margin: 50px 25px;
    padding: 5px 100px;
    display: grid;
    grid-gap: 20px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
